header {
    font-size: 36px;
    background-color: rgb(57, 130, 176);
    color: white;
    padding: 10px;
}

#search-button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 183, 0);
}

.current-weather {
    font-size: 36px;
    background-color: rgb(255, 213, 0);
}